$colors: (
    rosso: #ff0000,
    blu: #0000ff,
    verde: #00ff00,
    turchese: #00ffff,
);

@each $name,$color in $colors {
  .box-#{$name} {
    background-color: $color;
  }
}

body div{
    width: 100px;
    height: 100px;
}
